<!DOCTYPE html>
<html>
<head>
  <title>Auto</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if user_signed_in? %>
    <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
<% end %>

<%= params %>

<% unless params[:admin] %>
    <% if user_signed_in? %>
        <%= link_to "Админка", rails_admin_path, :method => :get %>
    <% end %>
<% end %>

<% if can? :access, :rails_admin %>
    GOOD
<% else %>
    <%= current_user.has_role :admin  %>
<% end %>

<%= yield %>

</body>
</html>
